<div class="nk-content ">

<div class="nk-block nk-block-middle nk-auth-body">
    <div class="nk-block-head">
        <div class="nk-block-head-content">
            <h5 class="nk-block-title">Inscription</h5>
            <div class="nk-block-des">
                <p>Créer un compte pour sauver la planète</p>
            </div>
        </div>
    </div>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="form-group"><label class="form-label" for="name">Prénom</label><input type="text"
            class="form-control form-control-lg" id="name" placeholder="Entrer votre prénom" formControlName="firstname" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" required>
            <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                <div *ngIf="f.firstname.errors.required">Prénom invalide</div>
            </div>
        </div>
        <div class="form-group"><label class="form-label" for="name">Nom</label><input type="text"
            class="form-control form-control-lg" id="name" placeholder="Entrer votre nom" formControlName="lastname" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" required>
            <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                <div *ngIf="f.lastname.errors.required">Nom invalide</div>
            </div>
        </div>
        <div class="form-group"><label class="form-label" for="name">Nom d'utilisateur</label><input type="text"
                class="form-control form-control-lg" id="name" placeholder="Entrer votre nom d'utilisateur" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" required>
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Nom d'utilisateur invalide</div>
                </div>
            </div>
        <div class="form-group"><label class="form-label" for="email">Email</label><input type="email"
                class="form-control form-control-lg" id="email" placeholder="Entrer votre email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required>
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email invalide</div>
                </div>
        </div>
        <div class="form-group"><label class="form-label" for="password">Mot de passe</label>
            <div class="form-control-wrap"><a tabindex="-1" href="#" class="form-icon form-icon-right passcode-switch"
                    data-target="password"><em class="passcode-icon icon-show icon ni ni-eye"></em><em
                        class="passcode-icon icon-hide icon ni ni-eye-off"></em></a><input type="password"
                    class="form-control form-control-lg" id="password" placeholder="Entrer votre mot de passe" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required>
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Mot de passe invalide</div>
                    </div>
                </div>
        </div>
      
        <div class="form-group"><button class="btn btn-lg btn-primary btn-block">S'inscrire  </button></div>
    </form>
    <div class="form-note-s2 pt-4"> Vous avez déjà un compte ? <a routerLink="/login"><strong>Connectez-vous</strong></a></div>
</div>
</div>