#description{
    justify-content:center;
    font-weight: bolder;
}
#addTreeForm{
    margin-top: 20px;
    align-items: center;
    justify-content: space-around;
}
#addTreeForm .form-group{
    margin: 0 10px;
}