<body class="nk-body bg-white npc-default has-aside ">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- wrap @s -->
            <div class="nk-wrap ">
                <!-- content @s -->
                <div class="nk-content ">
                    <div class="container wide-xl">
                        <div class="nk-content-inner">
               <!--ASIDE HERE-->
                            <div class="nk-content-body">
                                <div class="nk-content-wrap">
                                    <div class="nk-block-head nk-block-head-sm">
                                        <div class="nk-block-between">
                                            <div class="nk-block-head-content">
                                                <h3 class="nk-block-title page-title">Offrir un arbre</h3>
                                                <div class="nk-block-des text-soft">
                                                    <p>Vous pouvez offrir un arbre à quelqu'un.</p>
                                                </div>
                                            </div><!-- .nk-block-head-content -->
                                        </div><!-- .nk-block-between -->
                                    </div><!-- .nk-block-head -->
                                    <ul class="row g-gs preview-icon-svg"  >
                                        <li class="col-lg-3 col-6 col-sm-4" *ngFor=" let tree of trees">
                                            <div class="preview-icon-box card card-bordered">
                                                <div class="preview-icon-wrap">
                                                    <img src="../assets/tree/{{tree.name.toLowerCase()}}.png" alt="{{tree.name}}"> 
                                                </div>
                                                <span class="preview-icon-name">{{tree.name}}</span>
                                            </div><!-- .preview-icon-box -->
                                        </li><!-- .col -->
                                      
                                        <li class="col-lg-3 col-6 col-sm-4">
                                            <div class="preview-icon-box card card-bordered">
                                                <div class="preview-icon-wrap">
                                                    <img src="../assets/tree/arbre_triste.png" alt="">
                                                </div>
                                                <span class="preview-icon-name">Saule pleureur</span>
                                            </div><!-- .preview-icon-box -->
                                        </li><!-- .col -->                                       
                                        <li class="col-lg-3 col-6 col-sm-4">
                                            <div class="preview-icon-box card card-bordered">
                                                <div class="preview-icon-wrap">
                                                    <img src="../assets/tree/weed.png" alt="">
                                                </div>
                                                <span class="preview-icon-name">Un gros pied d'weed</span>
                                            </div><!-- .preview-icon-box -->
                                        </li><!-- .col -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content @e -->
            </div>
            <!-- wrap @e -->
        </div>
        <!-- main @e -->
    </div>
</body>
