<div class="row">
    <div class="search-bar">
        <div class="col-md-offset-3 col-md-6 col-sm-12">
            <img src="assets/img/tree.png" alt="tree">
            <h1> Lorem ipsum dolor sit amet</h1>
            <h3>Lorem ipsum dolor sit amet, consectetur</h3>
            <form method="GET" action="https://www.ecosia.org/search">
                <input type="text" name="q" class="form-control" placeholder="Rechercher" autofocus>
                <input type="submit" class="btn btn-primary my-3" value="Rechercher">
            </form>
        </div>
    </div>
</div>