<img src="/assets/images/background.jpg" class="background" alt="">

<div class="nk-content">
    <div class="row">
        <div class="search-bar">
            <div class="col-md-offset-3 col-md-6 col-sm-12">
                <img src="assets/images/tree.png" alt="tree">
                <h1 class="text-secondary">Recherche</h1>
                <h3 class="text-secondary">Plantons des arbres !</h3>
                <form method="GET" action="https://www.ecosia.org/search">
                    <input type="text" name="q" class="form-control" placeholder="Rechercher" autofocus>
                    <input type="submit" class="btn btn-primary my-3" value="Rechercher">
                </form>
            </div>
        </div>
    </div>
    <div class="bloc-milieu">
        <div class="row">
            <div class="col-6 col-xs-12">
                <h2>Cumulez vos points</h2>
                <p>Plantez des arbres pour chacunes de vos recherches internet et cumulez des points pour offrir un
                    arbre
                    au nom de votre ami ! <a href="http://localhost:4200/registration"> Inscrivez-vous</a> dès
                    maintenant pour commencer à compter vos points.</p>
                <ul>
                    <li>
                        <img src="assets/images/planet-earth.png" class="icon" alt="ecology">
                        <div class="text">
                            <h6>Ecologique</h6>
                            <p>L'écologie est notre priorité, pour chaque recherche effectuée, nous nous assurons
                                que notre planète reprenne vie.</p>
                        </div>
                    </li>
                    <li>
                        <img src="assets/images/friends.png" class="icon" alt="friends">
                        <div class="text">
                            <h6>Amis</h6>
                            <p>Offrez des plantes à vos amis sans dépenser un sous !</p>
                        </div>
                    </li>
                    <li>
                        <img src="assets/images/popular.png" class="icon" alt="popular">
                        <div class="text">
                            <h6>Popularité</h6>
                            <p>Utilisez un de nos moteurs de recherche les plus utilisés dans le monde !</p>
                        </div>
                    </li>
                    <li>
                        <img src="assets/images/co2.png" class="icon" alt="co2">
                        <div class="text">
                            <h6>Empreinte écologique</h6>
                            <p>Caculez votre empreinte écologique à l'aide de notre simulateur.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-xs-12">
                <img src="assets/images/tree_wallpaper.jpg" class="rounded img-fluid d-block mx-auto"
                    style="max-height: 800px;" alt="tree wallpaper">
            </div>
        </div>
    </div>
    <hr>
    <br>
    <div class="bloc-faq">
        <h3>Questions frequemment posées</h3>
        <div class="col-6 col-xs-12">
            <div class="nk-block nk-block-lg">
                <div class="card card-preview">
                    <div class="card-inner">
                        <div id="accordion-2" class="accordion accordion-s3">
                            <div class="accordion-item">
                                <a href="#" class="accordion-head" data-toggle="collapse"
                                    data-target="#accordion-item-2-1">
                                    <h6 class="title">Comment sont cumulés mes points ?</h6>
                                    <span class="accordion-icon"></span>
                                </a>
                                <div class="accordion-body collapse show" id="accordion-item-2-1"
                                    data-parent="#accordion-2">
                                    <div class="accordion-inner">
                                        <p>A chaque recherche, vous gagnez un point sur votre compte. Une fois que
                                            vous avez cumulé suffisament de points, vous pouvez les dépenser, comme
                                            une monaie, pour offrir un arbre à vos proches.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <a href="#" class="accordion-head collapsed" data-toggle="collapse"
                                    data-target="#accordion-item-2-2">
                                    <h6 class="title">Pourquoi utiliser votre moteur de recherche ?</h6>
                                    <span class="accordion-icon"></span>
                                </a>
                                <div class="accordion-body collapse" id="accordion-item-2-2" data-parent="#accordion-2">
                                    <div class="accordion-inner">
                                        <p>Nous travaillons continuellement avec Ecosia ainsi que d'autres
                                            organismes pour obtenir un meilleur impact sur l'environnement. Chaque
                                            recherche faite sur notre moteur permet à des entreprises comme Ecosia
                                            de planter un arbre sur Terre pour chacune de vos recherches !</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <a href="#" class="accordion-head collapsed" data-toggle="collapse"
                                    data-target="#accordion-item-2-3">
                                    <h6 class="title">Comment pouvons-nous nous assurer de la fiabilité de votre
                                        site ?
                                    </h6>
                                    <span class="accordion-icon"></span>
                                </a>
                                <div class="accordion-body collapse" id="accordion-item-2-3" data-parent="#accordion-2">
                                    <div class="accordion-inner">
                                        <p>
                                            Nous mettons tous les moyens en oeuvre pour obtenir
                                            le meilleur rendu possible sur notre application.
                                        </p>
                                        <p>Si le temps nous le
                                            permet, et si nos développeurs sont d'attaques, nous aimerions également
                                            développer une application mobile en
                                            plus de notre application web.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>